/*reset and global*/
html,body{
	height: 100%;
}
body,h1,h2,h3,h4,h5,h6,ul,p{
	margin: 0;
	padding: 0;
}
p{
	font-family: Arial;
	color: #333;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
sup{
	color:#cf7;
	font-size: 0.8em;
}
.clear:after{
	content: '';
	display: table;
	clear: both;
}
.clear{
	*zoom:1;
}
html{
	font-size: 62.5%;
}
body{
	font-family: "Helvetica Neue",Helvetica,"Microsoft YaHei",Arial,sans-serif;
	  font-size: 1.6rem;
	  background-color: #f9f9f9;
	  color: #4e546b;
}
/*api-index*/
.api-list{
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	width: 230px;
	overflow: auto;
}
.api-list{
	background-color: #2b2f3e;
}
.sections{
	margin-bottom: 15px;
}
.sections .api-index{
	margin-bottom: 25px;
}
.sections h2{
	font-size: 1.2em;
	padding-left: 15px;
	color: #eee;
	border-bottom: 1px solid #aaa;
	margin: 5px 0;
	padding-bottom: 3px;
	cursor: pointer;
}
.sections .api-index{
	display: none;
}
.api-index li a{
	color: #9d9e9f;
	display: block;
}
.api-index li:hover>a{
	color: #fff;
	background-color: #ff404b;
}
ul.api-index li a{
	padding-left: 15px;
	line-height: 1.5em;
}
.api-index li ul{
	display: none;
}
.api-index li ul a{
	padding-left: 50px;
}
.api-index li ul li:hover>a{
	color: #fff;
	background-color: #c9793f;
}
.api-index li.xia>a:after{
	content: ' ↓';
  	color: #ff0;
  	font-size: 1.2em;
}
.api-index li.xia:hover>a{
  	text-decoration: none;
}
.api-index li.shang>a:after{
  	content: ' ↑';
  	color: #ff0;
  	font-size: 1.2em;
}
.active{
	color: #cf7!important;
	text-decoration: underline;
}
.xia>.active{
	color: #cf7!important;
	text-decoration: none;
}


/*api-content*/
.bg-eee{
	background-color: #eee;
}
.bgeee-i{
	background-color: #eee;
	font-size: 1.5em;
	font-style: italic;
}

.api-content{
	margin-left: 230px;
	overflow: hidden;
	position: relative;
	height: 100%;
	background-color: #f3f3ef;
}
.api-item,.homepage{
	position: relative;
	height: 100%;
	overflow: auto;
	line-height: 1.2em;
}
.homepage{
	padding: 0;
}
.homepage .content{
	padding-top: 150px;
}
.homepage .content h1{
	text-align: center;
	line-height: 2em;
}
.homepage .foot{
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	background-color: #7f7f7f;
	color: #fff;
	letter-spacing: 0.1em;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
}

/*api-item container set*/
.api-item>.container{
	width: 1000px;
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 50px;
}
.api-item>.container>*{
	background-color: #efefd7;
	padding: 15px;
}

/*title*/
.api-item>.container>.title{
	position: relative;
	padding: 10px 15px;
	background-color: #ccc;
}
.title .option-title{
	float: left;
	color: #2666A1;
	font-weight: bold;
	margin-right: 300px;
}
.title .option-type{
	float: right;
}
.title .option-type a{
	color: #62f;
}
.title .option-default{
	float: right;
	margin-left: 300px;
	padding: 10px 0;
	clear: both;
}

/*description*/
.desc{
	margin-bottom: 20px;
	line-height: 1.4em;
}
.desc span{
	color: #a5f;
}

/*code Example Title*/
.container>.code{
	font-weight: bold;
	margin-top: 50px;
	background-color: #ccc;
	padding: 10px 15px;
}
/*code*/
.container table{
	width: 100%;
	border: 1px dotted #aaa;
	padding: 15px;
	line-height: 1.3em;
}
.container table .gutter{
	border-right: 3px solid #59c;
	padding-right: 2px;
	color: #ccc;
	width:30px;
}
.container table .code{
	padding: 0 5px;
}
code{
	color: #057;
}
code.comments{
	color: #a99;
}
code.keyword{
	color: #c27;
}
code.string{
	color: #27c;
}

/*desc 4 code*/
.container>.code+p,.container>.code+p+div+br+p{
	font-style: italic;
	color: #390;
}