html,body{
	height: 100%;
}
body,h1,h2,h3,h4,h5,h6,ul{
	margin: 0;
	padding: 0;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
sup{
	color:#cf7;
	font-size: 0.8em;
}
.clear:after{
	content: '';
	display: table;
	clear: both;
}
.clear{
	*zoom:1;
}
html{
	font-size: 62.5%;
}
body{
	font-family: "Helvetica Neue",Helvetica,"Microsoft YaHei",Arial,sans-serif;
	  font-size: 1.6rem;
	  background-color: #f9f9f9;
	  color: #4e546b;
}

.api-list{
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	width: 230px;
	overflow: auto;
}
.api-list{
	background-color: #2b2f3e;
}
.sections{
	margin-bottom: 15px;
}
.sections .api-index{
	margin-bottom: 25px;
}
.sections h2{
	font-size: 1.2em;
	padding-left: 15px;
	color: #eee;
	border-bottom: 1px solid #aaa;
	margin: 5px 0;
	padding-bottom: 3px;
	cursor: pointer;
}
.sections .api-index{
	display: none;
}
.api-index li a{
	color: #9d9e9f;
	display: block;
}
.api-index li:hover>a{
	color: #fff;
	background-color: #ff404b;
}
ul.api-index li a{
	padding-left: 15px;
	line-height: 1.5em;
}
.api-index li ul{
	display: none;
}
.api-index li ul a{
	padding-left: 50px;
}
.api-index li ul li:hover>a{
	color: #fff;
	background-color: #c9793f;
}
.api-index li.xia>a:after{
	content: ' ↓';
  	color: #ff0;
  	font-size: 1.2em;
}
.api-index li.xia:hover>a{
  	text-decoration: none;
}
.api-index li.shang>a:after{
  	content: ' ↑';
  	color: #ff0;
  	font-size: 1.2em;
}
.active{
	color: #cf7!important;
	text-decoration: underline;
}
.xia>.active{
	color: #cf7!important;
	text-decoration: none;
}


/*api-content*/
.api-content{
	margin-left: 230px;
	overflow: hidden;
	position: relative;
	height: 100%;
}
.api-item{
	position: relative;
	background-color: #ccc;
	height: 100%;
}